<meta name="twitter:image" content="{{image}}">
<meta name="twitter:title" content="{{socialmedia-title}}">
<meta property="og:title" content="{{socialmedia-title}}">
<meta property="og:image" content="{{image}}">
<title>{{title}}</title>
<meta name="description" content="{{google-serp}}">
<meta name="twitter:description" content="{{socialmedia-description}}">
<meta property="og:description" content="{{socialmedia-description}}">
<meta property="og:url" content="{{url}}">


[[xyzxyz]]